---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Base from "../layouts/BaseLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
  );
---

<Base description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <main class="mx-4">
    <h1 class="text-3xl text-center my-2 sm:my-3">Pujit's Blog</h1>
    <p class="text-center text-lg sm:pb-4 lg:pb-5">hopefully helpful writing</p>
    <div class="my-4 mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 justify-center gap-3 w-full max-w-prose mx-auto">
        {
          posts.map((post) => (
            <a
              class="flex flex-col rounded-lg p-4 border border-green-900 dark:border-rose-300 hover:bg-stone-100 dark:hover:bg-gray-800 transition duration-300 ease-in-out shadow"
              href={post.url}
            >
              <time datetime={post.frontmatter.pubDate} class="sm:mb-2">
                {new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              <p class="capitalize">{post.frontmatter.title}</p>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Base>
